<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.testmobil.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Test Mobil</name>

  <description>
      Test Uygulaması
  </description>

  <author href="" email="demirbilek_mt@hotmail.com">
      Murat Demirbilek
  </author>

	<icon src="assets/brand/bootstrap-solid.svg">

</widget>