<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pgb.brewapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="https://phonegap.com/ns/1.0">
	<name>Test Mobil APK</name>
	<description>
		HTML TO MOBILE
	</description>

	<author email="" href="demirbilek_mt@hotmail.com">
	   Murat Demirbilek
	</author>
	<icon src="assets/brand/bootstrap-solid.svg" />
	
</widget>
